{% extends "_base.html" %}



{% block sidebar %}
<ul class="nav voortgang-sidebar">

    <li id="btn-voordat" class="nav-item active  ">
        <a class="nav-link" href="#">
            <i class="material-icons">unarchive</i>
            <p>Voordat we beginnen.</p>
        </a>
    </li>

    <li id="btn-ip-instellen" class="nav-item">
        <a class="nav-link" href="#">
            <i class="material-icons">unarchive</i>
            <p>Ip Instellen.</p>
        </a>
    </li>

    <li id="btn-router-instellen" class="nav-item ">
        <a class="nav-link" href="#">
            <i class="material-icons">unarchive</i>
            <p>Router instellen</p>
        </a>
    </li>

    <li id="btn-internet-verbinding" class="nav-item">
        <a class="nav-link" href="#">
            <i class="material-icons">unarchive</i>
            <p>Internet verbinding</p>
        </a>
    </li>

    <li id="btn-apparaat-registreren" class="nav-item ">
        <a class="nav-link" href="#">
            <i class="material-icons">unarchive</i>
            <p>Apparaat registreren.</p>
        </a>
    </li>



    <li class="nav-item active-pro ">
        <a class="nav-link" href="#">
            <i class="material-icons">unarchive</i>
            <p>Upgrade to PRO</p>
        </a>
    </li>
</ul>
{% endblock %}



{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">Dashboard</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <!--- <form class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form> --->

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;">
                        <i class="material-icons">help</i>
                        <p class="d-lg-none d-md-block">
                            Informatie
                        </p>
                    </a>
                </li>
                <!---
                <li class="nav-item dropdown">
                    <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">notifications</i>
                        <span class="notification">5</span>
                        <p class="d-lg-none d-md-block">
                            Some Actions
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Mike John responded to your email</a>
                        <a class="dropdown-item" href="#">You have 5 new tasks</a>
                        <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                        <a class="dropdown-item" href="#">Another Notification</a>
                        <a class="dropdown-item" href="#">Another One</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">person</i>
                        <p class="d-lg-none d-md-block">
                            Account
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </li>
                --->
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row" id="pre-setup" >

        <div class="col-lg-12 col-sm-12" id="begin">
            <h2>Voordat we verder gaan</h2>
            <p>Om de blackbox te laten functioneren, is een wijziging in uw router noodzakelijk. Hiervoor dient u in te loggen in uw internet-router.</p>
            <p>Hiervoor heeft u login-gegevens nodig. Zonder toegang tot uw internet-router kan de installatie niet verder.</p>
            <p></p>
        </div>

        <div class="col-lg-12 col-sm-12" id="vraag-1">
            <h2>Heeft u toegang tot uw router?</h2>
            <p></p>
            <p>
                <button type="button" class="btn btn-default pull-left" id="router-access-true" >
                    <i class="material-icons">done</i>
                    Ja
                </button>
                <button type="button" class="btn btn-default pull-left" id="router-access-false" >
                    <i class="material-icons">error_outline</i>
                    Nee
                </button>
            </p>
            <p></p>
        </div>

        <div class="col-lg-12 col-sm-12" id="vraag-2">
            <h2>Login in uw router</h2>
            <p>Login in uw router, en navigeer naar de sectie 'DHCPServer'</p>
            <h3>Kunt u de optie DNS Server vinden?</h3>
            <p></p>
            <p>
                <button type="button" class="btn btn-default pull-left" id="router-dns-true" >
                    <i class="material-icons">done</i>
                    Ja
                </button>
                <button type="button" class="btn btn-default pull-left" id="router-dns-false" >
                    <i class="material-icons">error_outline</i>
                    Nee
                </button>
            </p>
            <p></p>
        </div>

        <div class="col-lg-12 col-sm-12" id="vraag-3">

            <h3>Kunt u een optie vinden die de DHCP server uitschakeld?</h3>
            <p></p>
            <p>
                <button type="button" class="btn btn-default pull-left" id="router-dhcp-true" >
                    <i class="material-icons">done</i>
                    Ja
                </button>
                <button type="button" class="btn btn-default pull-left" id="router-dhcp-false">
                    <i class="material-icons">error_outline</i>
                    Nee
                </button>
            </p>
            <p></p>
        </div>

        <div class="col-lg-12 col-sm-12" id="vraag-4">
            <h2>Bedankt!</h2>
            <h3>Wij weten genoeg, we kunnen beginnen met de installatie</h3>
            <p></p>
            <p>
                <button type="button" class="btn btn-default" id="voordat-info-ok">
                    <i class="material-icons">done</i>
                    Volgende
                </button>
            </p>
        </div>

    </div>


    <div class="row" id="main-setup">
        <div class="col-lg-12 col-sm-12">
            <h2>IP adres instellen</h2>

            <div class="row">

                <div class="col-lg-12 col-sm-12">
                    <p>Hier wordt het ip-adress van de blackbox ingesteld. U kunt de voorkeurs-instellingen gebruiken, of kies zelf een ipadres.</p>




                    <div id="change-ip-form-progress">
                        <p></p>
                        <p></p>
                        <p>Loading network settings</p>
                        <div class="progress" >
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                    </div>

                    <form id="change-ip-form" style="display:none">

                        <div class="row" >
                            <div class="col-lg-4">
                                <div class="xform-group">
                                    <label for="IpAdressFormFormControlSelect1">Geselecteerd IP adres</label>
                                    <select class="form-control Xselectpicker" data-style="btn btn-link" id="IpAdressFormFormControlSelect1">

                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">

                            </div>
                            <div class="col-lg-4">

                            </div>
                        </div>

                        <div class="row" style="display: none">
                            <div class="form-group">
                                <label for="SubnetFormControlInput1">Subnet</label>
                                <input type="text" class="form-control" id="SubnetFormControlInput1" placeholder="*.*.*.*" disabled>
                            </div>
                            <div class="form-group">
                                <label for="GatewayFormControlInput1">Gateway</label>
                                <input type="text" class="form-control" id="GatewayFormControlInput1" placeholder="*.*.*.*" disabled>
                            </div>
                        </div>

                    </form>

                    <div class="row">
                        <div class="col-md-12">
                            <p></p>
                        </div>
                        <div class="col-md-12">
                            <p>
                                <button class="btn btn-info" id="blackbox-save-ip" style="display: none"> Volgende </button>
                            </p>
                        </div>

                    </div>


                </div>

            </div>

            <div class="row">

            </div>

        </div>

    </div>

    <div class="row" id="main-setup-apply">
        <div class="col-lg-12 col-sm-12">
            <h2>IP Instellingen toepassen</h2>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <p>De instellingen worden toegepast, even geduld alstublieft.</p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div id="change-ip-apply-progress">
                        <p id="change-ip-apply-status"></p>
                        <div class="progress" >
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 1%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="setup-router">
        <div class="col-lg-12 col-sm-12">
            <h2>Router instellen</h2>
            <div class="row">
                <div class="col-lg-6 col-sm-6 ">
                    <p>Om de blackbox te laten functioneren, is een wijziging in uw router noodzakelijk.</p>
                    <p>Dit is een vrij eenvoudige ingreep. In de router dient u de DNS bij de DHCP instelling te wijzigien zoals hier rechts word aangegeven. <a href="#"> Meer informatie</a>  </p>
                    <p>Sommige oudere routers, zoals de KPN Xperiabox 7 hebben deze optie niet. Voor deze routers is er een <a  href="#">speciale handleiding.</a></p>

                    <p></p>
                </div>
                <div class="col-lg-6 col-sm-6 ">
                    <p>Instructies</p>
                    <ol>
                        <li>Ga naar <a id="local-router-link" href="#" target="_blank">http://routerip</a>  en login.</li>
                        <li>Navigeer naar  Lan/DHCP</li>
                        <li>Wijzig de DNS server naar adres : <span id="blackbox-static-ip-adress">adress</span>> </li>
                        <li>Sla wijziging op.</li>
                        <li>Wacht tot de blackbox de wijziging detecteert</li>

                    </ol>
                    <p>

                    </p>



                </div>
            </div>

        </div>
    </div>


    <div class="row" id="setup-router-nointernet">
        <div class="col-lg-12 col-sm-12">
            <h2>Internet verbinding controleren</h2>
            <div class="row">
                <div class="col-lg-12 col-sm-12 ">
                    <p>Om de blackbox te registreren, is een internet verbinding noodzakelijk.</p>
                    <p></p>
                    <p>een moment geduld alstublieft.</p>

                </div>

            </div>

        </div>
    </div>



    <div class="row" id="setup-activate">
        <div class="col-lg-12 col-sm-12">
            <h2>Apparaat registreren.</h2>
            <p>Om de blackbox te activeren, dient u zich in te identificeren met een surfwijzer account..</p>
            <button id="finalize-setup-login" class="btn btn-info">Login </button>

        </div>
    </div>
    <div class="row" id="main-setup">

    </div>
</div>
{% endblock %}


{% block specificpagejs %}

<style>

    /* div#pre-setup { display: none } */
    div#pre-setup div#vraag-1 { display: block }
    div#pre-setup div#vraag-2 { display: none }
    div#pre-setup div#vraag-3 { display: none }
    div#pre-setup div#vraag-4 { display: none }

    div#main-setup {        display: none }
    div#main-setup-apply {  display: none }
    div#setup-router {      display: none }
    div#setup-router-nointernet {      display: none }
    div#setup-activate {    display: none }

    select#IpAdressFormFormControlSelect1 {
        display: none;
        font-size: 1.2em;

    }
</style>

<script>

    /**
     *  the osbox-object.
     **/
    osbox = {};
    osbox.function={};
    /**
     *  Data-object.
     **/
    osbox.data = {};
    osbox.data.presetup = {}

    osbox.data.networkinfo = {}

    osbox.data.progress = 0

    osbox.data.presetup.routeraccess   = false;
    osbox.data.presetup.customdns      = false;
    osbox.data.presetup.disabledhcp    = false;



    /**
     *  Utility functions
     **/
    osbox.util = {};
    osbox.util.networkinfo = function(data){
        //console.log("util.networkinfo : ");

        var myObject = {}
        var info = data.result.raw.split('|');

        var ipinfo = info[0].split(",")

        myObject.size = data.result.size
        myObject.ipadress= []
        var i;
        for (i = 0; i < ipinfo.length; i++) {
            myObject.ipadress.push(ipinfo[i].split("/")[0]) ;
        }
        myObject.gateway = info[1];
        myObject.subnet = data.result.subnet_mask;
        return myObject;
    }


    /**
     *  functions for Web-api interaction
     **/
    osbox.api = {};

    osbox.api.system = {};
    osbox.api.system.reboot = function(){
        console.log("osbox.api.system.reboot");
        fetch("/api/system/reboot", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'},
            body: JSON.stringify({ "ipadress": 1 })
        }).then((response) => {
            return response.json();
        }).then((data) => {
            //console.log(data);
            a=1;
        });
    }

    osbox.api.network = {};
    osbox.api.network.info = function (){
        fetch("/api/network/info")
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                /* set the network results. */
                osbox.data.networkinfo = data.result;

                var newprogress=40;

                /*  */
                osbox.data.progress = 40;
                $('#change-ip-form-progress').width(osbox.data.progress + "%").attr('aria-valuenow', osbox.data.progress);

                /*
                console.log(data.result);

                console.log(data.result.ip_address);
                console.log(data.result.subnet_mask);
                console.log(data.result.gateway);
                console.log(data.result.size);
                console.log(data.result.raw);
                */

                osbox.util.networkinfo(data);

                window.networkInformation = data


                $("#real-blackbox-ip").html(data.result.ip_address[0]);
                $("#IpAdressFormControlInput1").val(data.result.ip_address[0]);
                $("#SubnetFormControlInput1").val(data.result.subnet);
                $("#GatewayFormControlInput1").val(data.result.gateway);

//               $("#GatewayFormControlInput1").val(data.result.gateway);



            });
    }
    osbox.api.network.current = function(){
        fetch("/api/network/current")
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                osbox.data.networktype = data.result;

                console.log(data);

                var newprogress=60;
                $('#change-ip-form-progress').width(newprogress + "%").attr('aria-valuenow', newprogress);
                if(data.result=="static"){
                    console.log("1")
                    $("i#checklist-static-ip").html("check_box");

                    //Swal.fire({ title:"Good job!", text: "Your networkconfiguration is correct!", type: "success", buttonsStyling: false, confirmButtonClass: "btn btn-success"})
                }else{
                    $("i#checklist-static-ip").html("check_box_outline_blank");
                    console.log(data.result);
                }
            });
    }
    osbox.api.network.scan = function(){
        fetch("/api/network/scan")
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                console.log(data);
                //
                var newprogress=90;
                $('#change-ip-form-progress').width(newprogress + "%").attr('aria-valuenow', newprogress);
                var $dropdown = $("#IpAdressFormFormControlSelect1");

                $("#preferred_ip").html(data.result.ip_suggest[0]);

                $.each(data.result.ip_suggest, function(index,value) {
                    //$dropdown.append($("<option />").val(value).text(value));
                    $dropdown.append($("<option />").text(value));
                });


                $("form#change-ip-form").css("display","block");

                $('#IpAdressFormFormControlSelect1').selectpicker('refresh');
                $('#IpAdressFormFormControlSelect1').selectpicker('render');


                $("#change-ip-form-progress").css("display","none");
                $("button#blackbox-save-ip").css("display","block");


            });
    }
    osbox.api.network.set = function(){

        var dta = {
            "ip" : osbox.data.networkinfo.preferredip,
            "net" : osbox.data.networkinfo.subnet_mask,
            "gw" : osbox.data.networkinfo.gateway,
            "size" : osbox.data.networkinfo.size
        }
        console.log("dta");
        console.log(dta);
        fetch("/api/network/set", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dta)
        }).then((response) => {
            return response.json();
        })
            .then((data) => {
                console.log("/api/network/set  OK")
                //console.log(data);
                //saveIp(30)

                /**
                 *  Reboot!.
                 **/
                osbox.api.system.reboot();

                /**
                 *  Set the reboot-timer.
                 **/
                window.myTimerVar = setInterval(osbox.network.myRebootWaitTimer, 5000);



            });

    }



    /**
     *  Network functions.
     **/
    osbox.network = {}

    /**
     *  Set the 'myNetworkWaitTimer' timer.
     *  executes the myNetworkWaitTimer function every X seconds.
     **/
    osbox.network.waitForNetwork = function(){
        /**
         *  Set the wait-for-network-timer.
         *  this will check DNS config.
         **/
        window.myTimerVar = setInterval(osbox.network.myNetworkWaitTimer, 5000);
    }

    /**
     *  Set the 'myNetworkWaitTimer' timer.
     **/
    osbox.network.myNetworkWaitTimer = function(){
        /**
         *  Set the wait-timer function.
         **/
        console.log("myNetworkWaitTimer");

        osbox.data.counter = osbox.data.counter +1 ;
        /**
         *  Make the request ..
         **/
        osbox.network.checkNetwork("http://nonexistent.surfwijzer.nl", 5000);
        //var curval = parseInt($( "#change-ip-apply-progress div.progress-bar").attr("aria-valuenow"));

        //saveIp(curval+8);
        //document.getElementById("demo").innerHTML = t;
        if(osbox.data.counter >99 ){
            alert("Timeout!");
            osbox.network.myStopFunction();
        }

    }

    osbox.network.checkInternet = function(){
        var url = "https://idp.surfwijzer.nl";
        var timeout = 5000;
        const controller = new AbortController();
        const signal = controller.signal;
        const options = { mode: 'no-cors', signal ,headers: {'Content-Type': 'application/json'} };
        console.log("checkInternet: "+url);
        return fetch(url, options)
            .then(setTimeout(() => { controller.abort() }, timeout))
            .then(function(response){
                console.log(response);
                console.log(response.status);
                //if(response.status==200){
                //alert("OK");
                osbox.network.myStopFunction();

                $("div#setup-router").css("display","none");

                osbox.data.isonline = true;


                $("div#setup-router-nointernet").css("display","none");
                $("div#setup-activate").css("display","block");
                $("ul.voortgang-sidebar li").removeClass("active");
                $("ul.voortgang-sidebar li#btn-apparaat-registreren").addClass("active");


                //    response => console.log('Check server response:', response.statusText)
            }).catch(function(error){
                console.error('Check server error:', error.message);
                alert("Fatal!");
            });
    }



    /**
     *  Check network function.
     *
     **/
    osbox.network.checkNetwork = function () {
        var url = "http://nonexistent.surfwijzer.nl";
        var timeout = 5000;

        const controller = new AbortController();
        const signal = controller.signal;
        const options = { mode: 'no-cors', signal ,headers: {'Content-Type': 'application/json'} };
        console.log("checkNetwork: "+url);
        return fetch(url, options)
            .then(setTimeout(() => { controller.abort() }, timeout))
            .then(function(response){
                console.log(response);
                console.log(response.status);
                //if(response.status==200){
                //alert("OK");
                osbox.network.myStopFunction();

                $("div#setup-router").css("display","none");


                $("div#setup-router-nointernet").css("display","block");
                $("ul.voortgang-sidebar li").removeClass("active");
                $("ul.voortgang-sidebar li#btn-internet-verbinding").addClass("active");

                osbox.network.checkInternet();



                //
                //
                // window.location="https://blackbox.surfwijzer.nl/"
                //
                //
                // }else if(response.status==404){
                //console.log("checkNetwork 404");
                //}

                //    response => console.log('Check server response:', response.statusText)
            }).catch(
                error => console.error('Check server error:', error.message)
            );
    }

    /**
     *  Data-object.
     **/
    osbox.network.rebootIpCheck  = function (ipAdressUrl) {

        var timeout =  2000;

        const controller = new AbortController();
        console.log("rebootIpCheck");
        const signal = controller.signal;
        const options = { mode: 'no-cors', signal };
        return fetch(ipAdressUrl+"/.well-known", options)
            .then(setTimeout(() => { controller.abort() }, timeout))
            .then(function(response){
                /**
                 *  Static ip was set!
                 **/
                console.log("rebootIpCheck - Success! ");




                //saveIp(100);
                console.log(response);

                $('#change-ip-apply-progress .progress-bar').width(100 + "%").attr('aria-valuenow', (100));

                /**
                 *  Stop the reboot-timer.
                 **/
                osbox.network.myStopFunction();



                $("ul.voortgang-sidebar li").removeClass("active");
                $("ul.voortgang-sidebar li#btn-router-instellen").addClass("active");


                $("#main-setup-apply").css("display","none");
                $("#setup-router").css("display","block");

                //var ip = $("#IpAdressFormFormControlSelect1").val();
                //var gw = $("#GatewayFormControlInput1").val();
                //$("a#local-router-link").attr("href","http://"+gw);
                //$("a#local-router-link").html("http://"+gw);
                //$("span#blackbox-staticosbox.network.-ip-adress").html(ip);
                //$("i#checklist-static-ip").html("check_box");


                /**
                 *  Set the wait for network-timer which check DNS
                 **/
                osbox.network.waitForNetwork();

                //    response => console.log('Check server response:', response.statusText)
            }).catch(
                error => console.error('Check server error:', error.message)
            );
    }

    osbox.network.myRebootWaitTimer = function () {
        console.log("myRebootWaitTimer");
        osbox.data.counter=osbox.data.counter+1;


        // check the server.
        var IPUrl="http://"+osbox.data.networkinfo.preferredip;
        osbox.network.rebootIpCheck ( IPUrl  );

        // get the value of the progress-bar!
        var curval = parseInt($( "#change-ip-apply-progress div.progress-bar").attr("aria-valuenow"));
        $('#change-ip-apply-progress .progress-bar').width((curval+10) + "%").attr('aria-valuenow', (curval+10));
        // add the progress to the progressbar.


        //document.getElementById("demo").innerHTML = t;
        if(osbox.data.counter >99 ){
            alert("Timeout!");
            osbox.network.myStopFunction();
            osbox.data.counter=0;
        }

    }

    /**
     *  Data-object.
     **/
    osbox.network.myStopFunction = function() {
        console.log("myStopFunction");
        clearInterval(window.myTimerVar);
    }


    /**
     *  Button click functions.
     *
     **/

    osbox.function.setRouterAccess = function (variable){
        if(variable)
        {
            //osbox.data.presetup.routeraccess;
            $("#begin").css("display", "none");
            $("#vraag-1").css("display", "none");
            $("#vraag-2").css("display", "block");

            osbox.data.presetup.routeraccess = true;
        }else{
            //osbox.data.presetup.routeraccess;
            // Show error!
            osbox.data.presetup.routeraccess = false;
            Swal.fire(
                'Error!',
                'Zonder toegang tot uw router, kan de installatie niet voortgezet worden. <i><a href="#">Meer informatie</a></i>',
                'error'
            );
        }
    }

    osbox.function.setCustomDns = function (variable){
        if(variable){
            $("#vraag-3").css("display","block");
            osbox.data.presetup.customdns=true;
        }else{
            $("#vraag-3").css("display","block");
            osbox.data.presetup.customdns=false;
        }
    }

    osbox.function.setDisableDhcp = function (variable){
        if(variable){
            $("#vraag-4").css("display","block");
            osbox.data.presetup.disabledhcp=true;
        }else{
            //osbox.data.presetup.routeraccess;
            $("#vraag-4").css("display","block");
            osbox.data.presetup.disabledhcp=false;
        }
    }

    osbox.function.saveIp = function (){
        // hide some stuff.
        $("#main-setup").css("display","none");
        $("#main-setup-apply").css("display","block");


        // set the preferred ip in the dataobject.
        osbox.data.networkinfo.preferredip = $("#IpAdressFormFormControlSelect1").val();
        // reset the generic counter
        osbox.data.counter = 0;

        console.log(osbox.data);

        osbox.api.network.set()


        // $("#setup-router").css("display","block");


        // $("ul.voortgang-sidebar li").removeClass("active");
        // $("ul.voortgang-sidebar li#btn-router-instellen").addClass("active");

        // $("#setup-router").css("display","block");


        // $("#setup-router-nointernet").css("display","block");

        // $("#setup-activate").css("display","block");
    }

    osbox.function.presetup = function(){
        //
        $("#vraag-2").css("display","none");
        $("#vraag-3").css("display","none");
        $("#vraag-4").css("display","none");

        // hide the main block
        $("#pre-setup").css("display","none");

        // show the main block
        $("#main-setup").css("display","block");

        $("ul.voortgang-sidebar li").removeClass("active");
        $("ul.voortgang-sidebar li#btn-ip-instellen").addClass("active");

    }


    $(document).ready(function(){

        /**
         *  Get the current network information
         **/
        osbox.api.network.info();

        /**
         *  Scan the local network (SLOW).
         **/
        osbox.api.network.scan();

        /**
         *  Click listener
         **/
        $("div.content button").click(function() {
            var clickedButton = $(this).attr("id");
            console.log("click: "+clickedButton);

            $("div.content button").removeClass("btn-default");
            $("div.content button").removeClass("btn-info");

            $("div.content button#"+clickedButton).addClass("btn-info");



            /**
             *  User choice : has router access? = TRUE
             *
             **/
            if(clickedButton=="router-access-true"){ osbox.function.setRouterAccess(true); }
            /**
             *  User choice : has router access? = FALSE
             *
             **/
            if(clickedButton=="router-access-false"){ osbox.function.setRouterAccess(false); }




            /**
             *  User choice : has DNS option? = TRUE
             *
             **/
            if(clickedButton=="router-dns-true"){ osbox.function.setCustomDns(true); }
            /**
             *  User choice : has DNS option? = FALSE
             *
             **/
            if(clickedButton=="router-dns-false"){ osbox.function.setCustomDns(false); }





            /**
             *  User choice : has DHCP disable option? = TRUE
             *
             **/
            if(clickedButton=="router-dhcp-true"){ osbox.function.setDisableDhcp(true); }
            /**
             *  User choice : has DHCP disable option? = FALSE
             *
             **/
            if(clickedButton=="router-dhcp-false"){ osbox.function.setDisableDhcp(false); }




            /**
             *  End of Preinstallation questions
             *
             **/
            if(clickedButton=="voordat-info-ok"){ osbox.function.presetup(); }




            /**
             *  Save IP-Settings.
             *
             **/
            if(clickedButton=="blackbox-save-ip"){ osbox.function.saveIp(); };



            if(clickedButton=="finalize-setup-login"){
                window.location = "https://idp.surfwijzer.nl/oauth2/authorize?client_id=82252ce6-ad4a-4a7f-8ff3-f7074f1a58dc&response_type=code&redirect_uri=https%3A%2F%2Fapi.surfwijzer.nl%2Fblackbox%2Flogin"
            }


        });


        /*
        *
        * <ul class="nav voortgang-sidebar">
        * <li id="btn-voordat" class="nav-item active  ">
        *
        *
        *
        * */


        //$("div.content button").click(function() {
        //    var clickedButton = $(this).attr("id");
        //    console.log("click: "+clickedButton);
        //});



    });
</script>
{% endblock %}
